{% load static %}
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"                                                
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous">                                           
  <link rel="stylesheet" type="text/css"  href="{%  static 'css/style.css' %}">
    <title>TODO Application</title>
</head>
<div class="center-column">
  <p>Are you sure you want to delete "{{item}}" task ? </p>

  <div style="display:flex; align-items:center;">
  <a style="width:120px; margin-right:20px;" class="btn btn-info" href="{% url 'list' %}">Cancel </a>
    <form method="POST" action="">
      {% csrf_token %}
      <input class="btn btn-danger" style="width:120px; margin-top:25px;"  type="submit" name="Delete Task" value = "Delete Task" />
    </form>
  </div>
</div>
